html {
    background: #E5E5E5;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    line-height: 48px;
}

body {
    width: 1440px;
    height: 1024px;
    background: #F3F5FC;
    margin: 40px auto;
}

.container{
    display: flex;
    flex-direction: row;
}

.input{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.output{
    display: flex;
    flex-direction: column;
}

.logo {
    margin-top: 40px;
    margin-left: 84px;
    height: 48px;
}

.sub-input {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
}

.data-input {
    margin:168px 80px 40px 160px;
}

#input-textarea {
    border: none;
    width: 80%;
    min-height: 48px;
    max-height: 300px;
    background: #F3F5FC;
    color: #0A3871;
    font-size: 32px;
    line-height: 48px;
}

#input-textarea::placeholder {
    color: #0A3871;
    font-size: 32px;
    line-height: 48px;
}

.flex-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
} 

.data-button-encript {
    width: 328px;
    height: 67px;
    font-size: 16px;
    color: white;
    background: #0A3871;
    border-color: #0A3871;
    border-radius: 32px;
    margin-right: 12px;    
}

.data-button-deencript {
    width: 328px;
    height: 67px;
    font-size: 16px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 32px;
    margin-left: 12px;
    
}

.data-output {
    display: flex;
    flex-direction: column;
    margin: 40px 40px 40px auto;
    height: 940px;
    width: 400px;
    background: white;
    border-radius: 32px;
}

.results-area {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 243px auto auto auto;
}

.results-area-displayControl {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 32px auto auto auto;
    justify-content: space-between;
}

.results-image {    
    height: 304px;
    width: 336px;
    margin: 0 auto;
}

.results-image img {
    width: 100%;
}

.hide {
    display: none;
}

.presioneButton {
    color: #343A40;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center; 
}

#textarea-results {
    width: 336px;
    margin: 32px auto;
}

.results-text {
    text-align: center;
    width: 336px;
    margin: auto;
}

.results-text h5 {
    color: #343A40;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
}

.results-text p {
    color: #495057;
    margin: 16px;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
}

.copy-button {
    margin: auto auto 32px auto;
}

#forCopyButton {
    display: flex;
    min-height: 20px;
    width: 100%;
    visibility: hidden;
}

.forOutputText{
    color: #343A40;
    font-weight: 700;
    font-size: 32px;
    max-height: 300px;
    line-height: 120%;
    text-align: center;
    border: none;
    word-wrap: break-word;
}

.copyright{
    color: #495057;
    margin: 16px;
    font-size: 16px;
    text-align: center;
}

.footer {
    height: 40px;
}
