html {
    background: #E5E5E5;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    line-height: 48px;
}

body {
    display: flex;
    flex-direction: row;
    width: 1440px;
    height: 1024px;
    background: #F3F5FC;
    margin: 40px auto;
}

header {
    display: inline-block;
    height: 80px;
    width: 80px;
}

.logo {

    margin-top: 40px;
    margin-left: 84px;
    height: 48px;
}

.data-input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 2px solid red; */
    width: 836px;
    margin:168px 80px 40px 84px;
}

#input-textarea {
    border: none;
    width: 577px;
    height: 48px;
    vertical-align: center;
    background: #F3F5FC;
    color: #0A3871;
    font-size: 32px;
    line-height: 48px;
}

#input-textarea::placeholder {
    color: #0A3871;
    font-size: 32px;
    line-height: 48px;
}

.data-button {
    display: block;  
}

.flex-buttons {
    display: flex;
    /* border: 2px solid green; */
    justify-content: space-between;
    margin-bottom: 32px;    
}


.data-button-encript {
    width: 328px;
    height: 67px;
    font-size: 16px;
    color: white;
    background: #0A3871;
    border-color: #0A3871;
    border-radius: 32px;
    
}

.data-button-deencript {
    width: 328px;
    height: 67px;
    font-size: 16px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 32px;
    
}

.data-output {
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    margin: 40px 40px 40px auto;
    width: 400px;
    background: white;
    border-radius: 32px;
}

.results-area {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border: 1px solid orange;
    margin: 243px auto auto auto;
}

.results-area-displayControl {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border: 1px solid orange;
    margin: 32px auto auto auto;
}

.results-image {
    height: 304px;
    width: 336px;
    border: 1px solid black;
    margin: 0 auto;
}

.results-image img {
    width: 100%;
}

#textarea-results {
    width: 336px;
    margin: 32px auto;
    border-color: red;
}

.results-text {
    text-align: center;
    width: 336px;
    margin: auto;
}

.results-text h5 {
    color: #343A40;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
}

.results-text p {
    color: #495057;
    margin: 16px;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
}

.buttonContainer {

    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: aqua;
    border: 2px solid green;
    align-content: flex-end;

}

.copy-button {
    margin: auto auto 32px auto;
}

#forCopyButton {
    display: flex;
    min-height: 20px;
    width: 100%;
    border: 1px solid red;
}

.forOutputText{
    color: #343A40;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    border: none;
}

